{{> header}}
{{> navbar}}

<div class="wrapper mt-5">
  <div class="content" role="main">
    <div class=" mt-5 text-center">
      <div class="border  p-3">
        <img src="/images/logo (2).png" class="img-fluid" alt="Logo">
      </div>
      <h1 class="three-d-text"> DAHAB ברוכים הבאים למערכת נגרות ומסחר

      </h1>
    </div>

    <div class="mt-5 card-container">
      <a class="animated-card" href="/materials">
        <img src="/images/materials.webp" class="card-img-top img-fluid" alt="Image">
        <div class="card-title">חומרי גלם</div>
      </a>
    </div>

    <div class="mt-5 card-container">
      <a class="animated-card" href="/products">
        <img src="/images/product.webp" class="card-img-top img-fluid" alt="Image">
        <div class="card-title">מוצרים</div>
      </a>
    </div>

    <div class="card-container">
      <a class="animated-card" href="/orders">
        <img src="/images/image.webp" class="card-img-top img-fluid" alt="Image">
        <div class="card-title">הזמנות</div>
      </a>
    </div>

    <div class="card-container">
      <a class="animated-card" href="/customers">
        <img src="/images/customers.webp" class="card-img-top img-fluid" alt="Image">
        <div class="card-title">לקוחות</div>
      </a>
    </div>
  </div>

  {{> footer}}